*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
  height: 100%;
}


/*ESTILOS NAVBAR*/
nav{
  background: rgb(196, 255, 204);
  height: 80px;
  width: 100%;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}


.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    padding: 10px 50px;
    height: 40px;
    font-size: 30px;
    color: #009013;
}

.imglogo{
    width: 70px;
    height: 50px;
  }


nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #242222;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: #009013;
  color: #fff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px) {
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
/*FIN DE ESTILOS NAVBAR*/


.subtitulocatering{
  align-items: center;
}


  .container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 2em;
    position: relative;
    height: 100%; 
}

.container div{
    margin-top: 80px;
    background-color: rgb(253, 254, 255);
    padding: 4em;
  font-family: 'Times New Roman', Times, serif;
  }

.container div h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #009013;
}

.container div h3{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #009013;

}

.container div p{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(58, 58, 58);
}

.container div img{
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
}


.button{
  margin-left: 150px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(255, 253, 253);
  width: 210PX;
  height: 52px;
  border-radius: 0px;
  border: 2px solid #82b440;
  color: #82b440;
}

.button:hover {
  background: #82b440;
  color: #ffffff;
  border: 2px solid #ffffff;
}



.banner{
  width: 100%;
  height: 80vh;/*VIRTUAL HEIGHT, TAMAÑO DE LA PANTALLA*/
  background-image: url('/recursos/cateringf3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner p{
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 100px;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el texto al centro */
  text-align: center; /* Alinear el texto al centro */
  z-index: 1; /* Asegurarse de que el texto esté sobre la imagen */
}




#pagina {
  position: relative;
  min-height: 100%;
}


.pie {
  height:10px;
  line-height:50px;
  background:#009013;
  color:white;
  text-align:center;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}

.pie .grupo-1{
  background-color: #009013;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie .grupo-1 .box figure img{
  width: 250px;
}
.pie .grupo-1 .box h2{
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie .grupo-1 .box p{
  color: #ffffff;
  margin-bottom: 10px;
}
.pie .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie .grupo-1 .red-social a:hover{
  color: aqua;
}

@media screen and (max-width:800px){
  .pie .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
}
.map-container iframe {
  left:0;
  top:0;
  height:80%;
  width:80%;
  margin-left: 10%;
  position:absolute;
}

