*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url("/recursos/fondofactura.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:100%;
    
  }

/*ESTILOS NAVBAR*/
nav{
    background-color: transparent;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    padding: 10px 50px;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
  }
  
  .imglogo{
    width: 60px;
    height: 50px;
    
  }


nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #009013;
    color: #fff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*FIN DE ESTILOS NAVBAR*/

.container {
    display: flex; /* Utilizamos Flexbox para distribuir los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    width: 100%;
    height: 100%; /* Toma toda la altura de la ventana */
    margin-bottom: 8%;
    margin-top: 5%;
}

.left-side, .right-side {
    width: 48%; /* Ancho del 48% para cada lado con espacio entre ellos */
    padding: 20px;
}

.left-side {
    background-color: transparent; /* Color de fondo para la parte izquierda */
    margin-left: 50px;
    color: #ffffff;
}

.right-side {
    margin-right: 50px;
}

.social-icons {
    display: flex; /* Utilizamos Flexbox para alinear los íconos horizontalmente */
    justify-content: center; /* Centramos los íconos horizontalmente */
    align-items: center; /* Centramos los íconos verticalmente */
    margin-top: 50px; /* Margen superior */
}

.icon {
    margin: 0 15px; /* Espacio entre los íconos */
}

.icon img {
    width: 40px; /* Ancho del ícono */
    height: auto; /* Altura automática para mantener la proporción */
    transition: transform 0.3s; /* Efecto de transición */
}

.icon img:hover {
    transform: scale(1.2); /* Efecto de escala al pasar el cursor */
}

.titulocontactanos{
    font-size: 80px;
    color: #ffffff;
    text-align: center;
}

  
  form {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 2%;
  }
  

  label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
    
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #009013;
    background-color: #009013;
    color: #fff;
    font-size: 15px;
    
  }

  textarea{
    height: 100px;
    width: 100%;
  }


  #pagina {
    position: relative;
    min-height: 100%;
  }

  
.pie {
    height:10px;
    line-height:50px;
    background:#009013;
    color:white;
    text-align:center;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
  }


  .pie .grupo-1{
    background-color: #009013;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie .grupo-1 .box figure img{
    width: 250px;
  }
  .pie .grupo-1 .box h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie .grupo-1 .box p{
    color: #ffffff;
    margin-bottom: 10px;
  }
  .pie .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie .grupo-1 .red-social a:hover{
    color: aqua;
  }
  
  @media screen and (max-width:800px){
    .pie .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  
  
.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
}
.map-container iframe {
  left:0;
  top:0;
  height:80%;
  width:80%;
  margin-left: 10%;
  position:absolute;
}
